force-app/main/default/flows/Enforce_Shared_Org_Credential_Model_Default_TRUE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Check to see if this is an new/original environment credential</description>
        <name>Is_Original</name>
        <label>Is Original</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>End Flow</defaultConnectorLabel>
        <rules>
            <name>Does_Credential_Name_Equal_Environment_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Environment__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.copado__Validated_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_to_True</targetReference>
            </connector>
            <label>Does Credential Name Equal Environment Name</label>
        </rules>
    </decisions>
    <description>Updated logic to only run for system created credentials.</description>
    <environments>Default</environments>
    <interviewLabel>Enforce Shared Org Credential Model - Default TRUE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enforce Shared Org Credential Model - Default TRUE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update the Default field on the Credential to true for all sandboxes created in Express Edition orgs to conform to the Shared Org Credential model for Source Format.</description>
        <name>Default_to_True</name>
        <label>Default to True</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>copado__Default_Credential__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Original</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Org_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sandbox</stringValue>
            </value>
        </filters>
        <object>copado__Org__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Value to check validation status</description>
        <name>ValidationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ok</stringValue>
        </value>
    </variables>
</Flow>
